a.indent {
    margin-left: 30px;
    padding: 0px;
    text-decoration: none;
    color: black;
}

.right-icon {
    float: right;
    margin-top: 4px;
    padding:5px;
}

.max-width {
    width: 100%;
}

a.canvas-link {
    color:red;
}

.list-group-item {
    border-left: 5px solid green !important; 

}
